@import "tailwindcss";
@config "../../tailwind.config.ts";

body {
  font-family: var(--font-inter), system-ui, sans-serif;
}

@keyframes spin-cw {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-ccw {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes scroll-up {
  to {
    transform: translateY(-50%);
  }
}
